*~
.DS_Store
.svn
.cvs
*.bak
*.swp
.htaccess
Thumbs.db
npm-debug.log

# Dependency Management
/vendor/
node_modules

# WordPress Specific
wp-config.php
db-config.php
wp-staging-config.php
wp-local-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/mu-plugins/wp-migrate-db-pro-compatibility.php

# Disallowed file types
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
